/*
* Resume template
* Created by : Ahmed Essa
* website : www.ahmedessa.net
*/


/* Table of Content
==================================================
	- Google fonts & font family -
	- typography -
	- General -
    - Preloader -
	- Header -
    - home section -
    - About section -
    - experience section -
    - skill section -
    - projects section -
    - Contact section -
    - Responsive media queries -
*/


/* Google fonts & font family
==================================================*/

@import 'https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Playfair+Display:400,400i,700,700i,900,900i';

/*
font-family: 'Playfair Display', serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
*/


/* typography
==================================================*/
img {
    image-rendering: -webkit-optimize-contrast;
}
h1 {
    font-family: 'Playfair Display', serif;
    font-size: 80px;
    line-height: 70px;
    cursor: default;
}

h4 {
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    position: relative;
    color: #425BB5;
    margin-left: 50px;
    font-weight: 700;
    font-size:18px;
    cursor:default
}

h4:before {
    position: absolute;
    width: 30px;
    left: -45px;
    content: "";
    display: block;
    height: 2px;
    background: #425BB5;
    top: 8px;
}


/* General
==================================================*/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
}

.size-50 {
    font-size: 50px;
    line-height: 50px
}

.h-10 {
    height: 10px;
}

.h-20 {
    height: 20px;
}

.h-50 {
    height: 50px;
}

.h-70 {
    height: 70px;
}


/* preloader
==================================================*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 10000
}

#status,
.preloader {
    top: 50%;
    left: 50%;
    position: absolute
}

#status {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    margin: -50px 0 0 -50px
}

.preloader {
    height: 40px;
    width: 40px;
    margin-top: -20px;
    margin-left: -20px
}

.preloader:before {
    content: "";
    display: block;
    position: absolute;
    left: -1px;
    top: -1px;
    height: 100%;
    width: 100%;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
    border: 2px solid #425BB5;
    border-top: 2px solid transparent;
    border-radius: 100%
}

.preloader>.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 25px;
    width: 10.6px;
    margin-top: -12.5px;
    margin-left: -5.3px;
    -webkit-animation: wink 1s ease-in-out infinite alternate;
    animation: wink 1s ease-in-out infinite alternate
}

@media only screen and (min-width:768px) {
    .preloader {
        height: 60px;
        width: 60px;
        margin-top: -30px;
        margin-left: -30px
    }
    .preloader:before {
        left: -2px;
        top: -2px;
        border-width: 2px
    }
    .preloader>.icon {
        height: 37.5px;
        width: 15.9px;
        margin-top: -18.75px;
        margin-left: -7.95px
    }
}

@media only screen and (min-width:1200px) {
    .preloader {
        height: 60px;
        width: 60px;
        margin-top: -30px;
        margin-left: -30px
    }
    .preloader>.icon {
        height: 50px;
        width: 21.2px;
        margin-top: -25px;
        margin-left: -10.6px
    }
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@-webkit-keyframes wink {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes wink {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}


/* Header
==================================================*/

header {
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
    height: 65px;
}
nav {
    position:relative;
}
nav p.logo {
    transform: translateY(-2px);
    display: inline-block;
    transform: rotateZ(0deg);
    transition: all 1.5s;
}
nav p.logo:hover {
    transform: rotateZ(270deg);
}
nav ul {
    display: inline-block;
    padding-left: 0;
    list-style: none;
    padding: 20px;
    margin-bottom: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
}

nav li {
    display: inline-block;
    margin: 10px;
}

nav li a {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #333;
    font-size: 16px;
    font-weight: bold;
}

.bg-nav {
    background: #fff;
    border-bottom: 1px solid #f3f3f3
}

.bg-nav ul {
    padding: 10px;
}

a:focus {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #425BB5;
    text-decoration: none;
}

a.active {
    color: #425BB5;
}
a.email {
    color:#87ceeb ;
}

/* home section
==================================================*/

#home {
    background: url(../img/home-bg-4.jpg);
    background-size: cover;
    height: 100vh;
}
#home h4 {
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;
    position: relative;
    color: #425BB5;
    margin-left: 70px;
    font-weight: 800;
    font-size:40px;
}

#home h4:before {
    position: absolute;
    width: 40px;
    left: -60px;
    content: "";
    display: block;
    height: 4px;
    background: #425BB5;
    top: 20px;
}
.table-cell {
    display: table-cell;
    vertical-align: middle;
    cursor:default;
}

.txt-rotate {
    font-size:40px;
    font-family: Arial, Helvetica, sans-serif;
    color:#fff;
    margin-left:15px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

.disply-table {
    display: table;
    height: 100vh;
}

/* about section
==================================================*/

#about {
    padding: 100px 0;
}

.about-img-div img {
    margin: 0 auto;
}

.about-border {
    position: absolute;
    border: 10px solid #425BB5;
    width: 400px;
    height: 400px;
    top: 40px;
    left: 50px;
    z-index: 1
}
#about p {
    cursor:default;
}



/* experience section
==================================================*/
/* 
#experience {
    padding: 100px 0;
    background: #f3f3f3
}

.experience-row {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

.experience-row h3 {
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #425BB5;
    font-size: 16px;
    font-weight: bold
}

.experience-row p {
    color: #888;
    margin-top: 20px;
    font-size: 15px;
}

.experience-row .date {
    color: #000;
    font-size: 17px;
}

.timeline {
    padding-left: 0;
    list-style: none;
    position: relative;
}

.timeline:before {
    background-color: black;
    content: '';
    margin-left: -1px;
    position: absolute;
    top: 0;
    left: 2em;
    width: 2px;
    height: 100%;
}

.timeline-event {
    position: relative;
}

.timeline-event:hover .timeline-event-icon {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: #425BB5;
}

.timeline-event:hover .timeline-event-thumbnail {
    box-shadow: inset 40em 0 0 0 #425BB5;
}

.timeline-event-copy {
    padding: 2em;
    position: relative;
    top: -1.875em;
    left: 4em;
    width: 100%;
}

.timeline-event-copy h3 {
    font-size: 1.75em;
}

.timeline-event-copy h4 {
    font-size: 1.2em;
    margin-bottom: 1.2em;
}

.timeline-event-copy strong {
    font-weight: 700;
}

.timeline-event-copy p:not(.timeline-event-thumbnail) {
    padding-bottom: 1.2em;
}

.timeline-event-icon {
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
    transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #425BB5;
    outline: 10px solid #f3f3f3;
    display: block;
    margin: 0.5em 0.5em 0.5em -0.5em;
    position: absolute;
    top: 0;
    left: 2em;
    width: 1em;
    height: 1em;
}

.timeline-event-thumbnail {
    -moz-transition: box-shadow 0.5s ease-in 0.1s;
    -o-transition: box-shadow 0.5s ease-in 0.1s;
    -webkit-transition: box-shadow 0.5s ease-in;
    -webkit-transition-delay: 0.1s;
    -webkit-transition: box-shadow 0.5s ease-in 0.1s;
    transition: box-shadow 0.5s ease-in 0.1s;
    color: white;
    font-size: 12px;
    font-weight: bold;
    background-color: black;
    box-shadow: inset 0 0 0 0em #425BB5;
    display: inline-block;
    margin-bottom: 1.2em;
    padding: 0.25em 1em 0.2em 1em;
} */

/* skill section
==================================================*/
#skill  {
    padding: 100px 0;
    background: #f3f3f3
}
#skill ul {
    list-style: none;
}
#skill ul li {
    float:left;
    /* margin-right:20px; */
    width:calc(100% / 3);
    text-align:center;
    margin-top:50px;
}
#skill ul li:last-child {
    margin-right:0;
}

#skill .chart {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
    /* margin-top: 50px;
    margin-bottom: 50px; */
  }
#skill .chart canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
#skill .percent {
    display: block;
    line-height: 150px;
    text-align: center;
    width:150px;
    z-index: 2;
    font-size:20px;
    font-weight:600;
  }
#skill .percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: .8em;
}
#skill p.class {
    font-size:18px;
    cursor: default;
}

/* projects section
==================================================*/

#projects {
    padding: 100px 0;
}

.portfolio .categories-grid span {
    font-size: 30px;
    margin-bottom: 30px;
    display: inline-block;
}

.portfolio .categories-grid .categories ul li {
    list-style: none;
    margin: 20px 0;
}

.portfolio .categories-grid .categories ul li a {
    display: inline-block;
    color: #60606e;
    padding: 0 10px;
    margin: 0 14px;
    -webkit-transition: all .2s ease-in-out .2s;
    transition: all .2s ease-in-out .2s;
}

.portfolio .categories-grid .categories ul li a:hover,
.portfolio .categories-grid .categories ul li a:focus {
    color:#425BB5;
    text-decoration: none;
}

.portfolio .categories-grid .categories ul li a.active {
    background-color: #425BB5;
    padding: 0px 20px;
    color: white;
    text-decoration: none;
}

.portfolio_item {
    position: relative;
    overflow: hidden;
    display: block;
    margin-bottom: 30px;
}

.portfolio_item .portfolio_item_hover {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: #425BB5;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: #333;
}

.portfolio_item .portfolio_item_hover .item_info {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 100%;
    font-weight: bold;
}

.portfolio_item .portfolio_item_hover .item_info span {
    display: block;
    color: #fff;
    font-size: 18px;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    -webkit-transition: all .3s ease-in-out .3s;
    transition: all .3s ease-in-out .3s;
    opacity: 0;
}

.portfolio_item .portfolio_item_hover .item_info em {
    font-style: normal;
    display: inline-block;
    background-color: #425BB5;
    padding: 5px 20px;
    color: #fff;
    margin-top: 10px;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition: all .3s ease-in-out .3s;
    transition: all .3s ease-in-out .3s;
    opacity: 0;
    font-size: 10px;
    letter-spacing: 2px;
}

.portfolio_item:hover .portfolio_item_hover {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.portfolio_item:hover .item_info em,
.portfolio_item:hover .item_info span {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.portfolio .categories-grid .categories ul li {
    float: left;
}

.portfolio .categories-grid .categories ul li a {
    padding: 0 10px;
    -webkit-transition: all .2s ease-in-out .2s;
    transition: all .2s ease-in-out .2s;
}

.portfolio_filter {
    padding-left: 0;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}
.portfolio_filter li:hover a {
    color:#425BB5;
}
.portfolio_item img {
    -webkit-filter: grayscale(70%);
    filter: grayscale(70%);
}

.portfolio-padding {
    padding: 50px 0;
}

.portfolio-inner {
    padding-bottom: 0 !important;
    padding-top: 55px;
}

.modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    border: none;
}

.popup-modal {
    background: #fff;
}

.close-popup-modal {
    float: right;
    margin: 20px;
    font-size: 30px;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-transition-delay: .6s;
    transition-delay: .6s;
    position: fixed;
    z-index: 100000;
    top:20px;
    right: 40px;
}

.btn-modal-link {
    position:fixed;
    top:100px;
    right:38px;
    z-index: 100000;
    opacity: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-transition-delay: .6s;
    transition-delay: .6s;
    background-color: #fff;
}
.btn-modal-link ul {
    list-style: none;
}
.btn-modal-link li {
    text-align: center;
    margin-bottom:20px;
}
.btn-modal-link li a {
    display:block;
}
.btn-modal-link li a img {
    width:30px;
    margin-bottom:5px;
    transition: all 0.7s;
    transform:rotateY(0deg);
}
.btn-modal-link li:hover a img {
    transform:rotateY(360deg);
}
.btn-modal-link li a p {
    color:#333;
}
.btn-modal-link li:hover a p {
    color:#425BB5;
}
#animatedModal08 .btn-modal-link {
    right:30px;
}

.animatedModal01-on .close-popup-modal,
.animatedModal02-on .close-popup-modal,
.animatedModal03-on .close-popup-modal, 
.animatedModal04-on .close-popup-modal, 
.animatedModal05-on .close-popup-modal, 
.animatedModal06-on .close-popup-modal, 
.animatedModal07-on .close-popup-modal, 
.animatedModal08-on .close-popup-modal
    {
        opacity: 1;
    }
.animatedModal01-on .btn-modal-link,
.animatedModal02-on .btn-modal-link,
.animatedModal03-on .btn-modal-link, 
.animatedModal04-on .btn-modal-link, 
.animatedModal05-on .btn-modal-link, 
.animatedModal06-on .btn-modal-link, 
.animatedModal07-on .btn-modal-link, 
.animatedModal08-on .btn-modal-link
    {
        opacity: 1;
    }

.modal-content h2 {
    font-family:'Open Sans', sans-serif;
    font-size: 40px;
    line-height: 70px;
    letter-spacing: 2px;
}
.modal-content h2 span {
    letter-spacing:-1px;
}
.modal-content a {
    color:inherit;
    font-size:16px;
}
.modal-content a:hover {
    color:#425BB5;
}

.modal-content h5 {
    font-weight:bold;
    font-size:18px;
    letter-spacing: 3px;
}

.modal-content img {
    width:100%;
}
#animatedModal05 .modal-content img, #animatedModal07 .modal-content img {
    width:auto;
}
#animatedModal05 i {
    padding : 0 10px;
}
#animatedModal05 .portfolio-padding > div:nth-child(2) {
    margin-left:-100px
}

/* contact
==================================================*/

#contact {
    padding: 100px 0;
    background-color:#f3f3f3 ;
}
#contact .intro {
    margin-bottom:30px;
}
#contact .intro p.c_txt {
    margin-left:-16px;
    font-weight:700;
    font-size:18px;
    line-height:1.7;
    cursor: default;
}
#contact .intro p.c_tit {
    font-weight:800;
    font-size:48px;
    line-height: 1.5;
    color:#444;
    margin-top:-30px;
    text-align:right;
    cursor: default;
}
#contact .link span {
    cursor: default;
}
#contact .link:first-child a{
    margin-left:0;
}
#contact .link a {
    color:inherit;
}
#contact .link a:hover {
    color:#425BB5;
}
#contact .link a > i {
    margin-left:5px;
    font-size:16px;
}
/* 
#contact-form input,
#contact-form textarea {
    height: 50px;
    margin-bottom: 10px;
    border-radius: 0;
}

#contact-form label {
    display: block;
    margin-bottom: .2em;
    font-size: 13px;
    line-height: 13px;
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: #000;
}

#contact-form label.error {
    margin-top: 10px;
    margin-bottom: 1em;
    font-size: 12px;
    line-height: 12px;
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: #D33E43;
    margin-left: 10px
}

#contact-form input[type="text"].error,
#contact-form input[type="password"].error,
#contact-form input[type="date"].error,
#contact-form input[type="datetime"].error,
#contact-form input[type="datetime-local"].error,
#contact-form input[type="month"].error,
#contact-form input[type="week"].error,
#contact-form input[type="email"].error,
#contact-form input[type="number"].error,
#contact-form input[type="search"].error,
#contact-form input[type="tel"].error,
#contact-form input[type="time"].error,
#contact-form input[type="url"].error,
#contact-form textarea.error {
    border-color: #D33E43
}

textarea {
    resize: none;
}

fieldset {
    border: 0px;
    margin: 0;
    padding: 0
}

.required {
    color: #e9266d
}

#success,
#error {
    display: none
}

#success p,
#error p {
    display: block;
}

#success p {
    color: #425BB5;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    border: 2px solid #425BB5;
    margin-top: 10px;
}

#error p {
    color: #D33E43;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    border: 2px solid #D33E43;
    margin-top: 10px;
}

#submit {
    background-color: #425BB5;
    color: #fff;
    padding: 10px 40px;
    border-radius: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    width: 100%;
} */

/* .social {
    padding-left: 0;
    list-style: none;
    margin-top: 20px;
} */
/* 
.social li {
    float: left;
} */

/* .social li a {
    color: #333;
    font-size: 35px;
    transition: all .3s;
    -webkit-transition: all .3s;
}

.social li a:hover {
    color: #425BB5;
} */


/* Responsive media queries
==================================================*/

@media (max-width: 991px) {
    .portfolio .categories-grid .categories ul li a {
        padding: 0 2px;
    }
}

@media (max-width: 768px) {
    .timeline-event-copy {
        width: 90%;
        left: 2em;
    }
}

@media (max-width: 500px) {
    h1 {
        font-family: 'Playfair Display', serif;
        font-size: 50px;
        line-height: 50px;
    }
    #home,
    .disply-table {
        height: 600px;
    }
    .about-border {
        width: 265px;
    }
    .portfolio .categories-grid .categories ul li {
        list-style: none;
        margin: 10px 0;
    }
}

@media (max-width: 420px) {
    nav li {
        margin: 6px;
    }
    nav li a {
        font-size: 10px;
    }
}
